pretrain_data_process/raw_data/pubchem/*.csv filter=lfs diff=lfs merge=lfs -text
pretrain_data_process/raw_data/conditions.txt filter=lfs diff=lfs merge=lfs -text
pretrain_data_process/raw_data/ttf-ms-win10/** filter=lfs diff=lfs merge=lfs -text
